{{ block "index" . }}
<div>
  <div class="term-container">
    <div>
      <h1 class="term">{{ .Word }}</h1>
      <p>{{ .PhoneticText }}</p>
    </div>
    <figure>
      <figcaption class="sr-only">Listen to the pronounciation</figcaption>
      <audio data-pronounciation src={{ .PhoneticAudio }}></audio>
      <button data-audio-player class="play-btn" aria-label="Play pronounciation">
        <img src="./static/play.svg" alt="Play icon">
      </button>
    </figure>
  </div>

  <div>
    {{ range .Meanings }}
      <div>
        <h2>{{ .PartOfSpeech }}</h2>
        <p>Meaning</p>
        <ul>
          {{ range .Definitions }}
            <li>
              <p>{{ .Definition }}</p>
              <p>{{ .Example }}</p>
            </li>
          {{ end }}
        </ul>
        
        {{if gt (len .Synonyms) 0}}
          <div>
            <p>Synonyms:</p>
            {{ range .Synonyms }}
              <span>{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}

        {{if gt (len .Antonyms) 0}}
          <div>
            <p>Antonyms:</p>
            {{ range .Antonyms }}
              <span>{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
