{{ block "index" . }}
<div>
  <div>
    <div>
      <h1>{{ .Word }}</h1>
      <p>{{ .PhoneticText }}</p>
    </div>
    <audio controls src={{ .PhoneticAudio }}></audio>
  </div>

  <div>
    {{ range .Meanings }}
      <div>
        <h2>{{ .PartOfSpeech }}</h2>
        <p>Meaning</p>
        <ul>
          {{ range .Definitions }}
            <li>
              <p>{{ .Definition }}</p>
              <p>{{ .Example }}</p>
            </li>
          {{ end }}
        </ul>
        {{if gt (len .Synonyms) 0}}
          <div>
            <p>Synonyms:</p>
            {{ range .Synonyms }}
              <span>{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}

        {{if gt (len .Antonyms) 0}}
          <div>
            <p>Antonyms:</p>
            {{ range .Antonyms }}
              <span>{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
