{{ block "index" . }}
<div class="term-container">
  <script src="./static/audioPlayer.js"></script>
  <div class="term-header">
    <div>
      <h1 class="term">{{ .Word }}</h1>
      <p>{{ .PhoneticText }}</p>
    </div>
    <figure>
      <figcaption class="sr-only">Listen to the pronounciation</figcaption>
      <audio data-pronounciation src={{ .PhoneticAudio }}></audio>
      <button data-audioPlayer class="play-btn" aria-label="Play pronounciation">
        <img src="./static/play.svg" alt="Play icon">
      </button>
    </figure>
  </div>

  <div class="definitions">
    {{ range .Meanings }}
      <div>
        <h2>
          <span class="part-of-speech">{{ .PartOfSpeech }}</span>
        </h2>
        <p class="meaning-title">Meaning</p>
        <ul class="def-list">
          {{ range .Definitions }}
            <li>
              <p>{{ .Definition }}</p>
              <p>{{ .Example }}</p>
            </li>
          {{ end }}
        </ul>
        
        {{if gt (len .Synonyms) 0}}
          <div class="synonyms-wrapper">
            <p>Synonyms:</p>
            <ul>
              {{ range .Synonyms }}
                <li>
                  <a class="synonym">{{ . }}</a>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}

        {{if gt (len .Antonyms) 0}}
          <div class="antonyms-wrapper">
            <p>Antonyms:</p>
            <ul>
              {{ range .Antonyms }}
                <li>
                  <button hx-post="/{{ . }}" hx-target="#result" class="antonym">{{ . }}</button>
                </li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
{{ end }}
